nav.header {
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
}

nav.header img {
    cursor: pointer;
}

nav.header a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

nav.header a:hover {
    color: orange;
}

.text-white{
    color: #B8ACFF;
    margin-left: 20px;
}
.text-white button {
    margin-left: 15px;
}

/* @media screen and (max-width: 992px) {
    nav.header {
        flex-direction: row;
    }
} */